{% extends 'padre.html' %}

{% block contenidoQueCambia %}

  <!-- why section -->

  <section class="why_section layout_padding">
    <div class="container">
      <div class="d-flex flex-column align-items-center text-center">
        <h2 class="custom_heading ">
            Aca podes acceder a la lista de nuestros clientes
        </h2>
        <p class="">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
          opposed to using 'Content here, content here', making it
        </p>
      </div>
    </div>
    <div class="why_container my-4">
      <div class="img_box">
        
        <form action="{% url 'Login' %}" method="post">{% csrf_token %}
        
            {{formulario.as_p}}
    
            <button type="submit">Login</button>
        </form>
    
    
      </div>
    </div>
  </section>

  <!-- end why section -->

  {% if mensaje %}
    <div class="'alert alert-info" role="alert">
        {{ mensaje }}
    </div>
  {% endif %}

{% endblock contenidoQueCambia %}
