{% extends 'padre.html' %}

{% block contenidoQueCambia %}

  <!-- why section -->

  <section class="why_section layout_padding">
    <div class="container">
      <div class="d-flex flex-column align-items-center text-center">
        <h2 class="custom_heading ">
            Aca podes acceder a la lista de nuestros productos
        </h2>
      </div>
    </div>
    <div class="why_container my-4">
      <div class="img_box">
        
        <h1>Agregar productos</h1>
        <form action="{% url 'AgregarProducto' %}" method="post">{% csrf_token %}
            
            {{form.as_p}}
    
            <button type="submit">Agregar</button>
        </form>
    
      </div>
    </div>
  </section>

  <!-- end why section -->

{% endblock contenidoQueCambia %}
