{% extends 'padre.html' %}

{% block contenidoQueCambia %}

  <!-- why section -->

  <section class="why_section layout_padding">
    <div class="container">

    </div>
    <div class="why_container my-4">
      <div class="img_box">

        <h1>Registrar Empleado</h1>
        <form action="{% url 'Registrar' %}" method="post">{% csrf_token %}
            
            {{formulario.as_p}}

            <button type="submit">Crear</button>
        </form>
    
      </div>
    </div>
  </section>

  <!-- end why section -->

{% endblock contenidoQueCambia %}
